---
import PageLayout from '@layouts/PageLayout.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  frontmatter: CollectionEntry<'blog'>['data']
}

const { frontmatter } = Astro.props
---

<PageLayout title={frontmatter.title} activeTab='Blog'>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toDateString()}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width='300' alt={frontmatter.image.alt} />
  <slot />
</PageLayout>
